{{>header}}
    <form>
        <input type="text" placeholder="Type address here">
        <button>Search</button>
    </form>

    <div class="form-response">
        <p class="form-head"></p>
    </div>

    <script src='/js/app.js'></script>
{{>footer}}